@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
    --primaryColour: #F1F1F1;
    --white2: #f2f3ed;
    --black: #141114;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --yellow: #ffd900;
    --blue: #4283FC;
    --blue2: #5DA5E9;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #CCC;
    --secondaryColour: #6D326D;
    --red: #BA0B34;
    --green: #D0FCB8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    max-width: 90%;
}

body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h3,
h4 {
    font-weight: 500;
}


/* --------Header----------*/

.header {
    position: relative;
}

.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}


/* --------Navigation----------*/

.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav_logo {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.6rem;
    font-weight: 700;
}

.nav_hamburger {
    display: none;
    cursor: pointer;
}

.nav_hamburger svg {
    height: 2.3rem;
    width: 2.3rem;
}

.menu_top {
    display: none;
}

.nav_menu {
    width: 50%;
}

.nav_list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    border: 2px solid var(--white);
}

.nav_item:not(:last-child) {
    margin-right: 1.6rem;
}

.nav_list .nav_link:link,
.nav_list .nav_link:visited {
    display: flex;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.nav_list .nav_link:hover {
    display: block;
    text-align: inherit;
    text-decoration: none;
    color: var(--blue);
    border-bottom: 2px solid var(--black3);
}

.nav_icons {
    display: flex;
    margin: 0.2em;
    position: relative;
}

.nav_icons .icon_item svg {
    width: 1.6rem;
    height: 1.6rem;
}

.nav_icons .icon_item {
    display: flex;
    margin-left: .3rem;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid var(--red);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.nav_icons .icon_item:link,
.nav_icons .icon_item:visited {
    color: var(--green)
}

.nav_icons .icon_item:hover {
    background-color: var(--green);
    border: 1px solid var(--secondaryColour);
}

.nav_icons .icon_item:not(:last-child) {
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav_icons #cart_total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--blue);
    padding: .2rem .4rem;
    border-radius: 100%;
    color: var(--primaryColour);
}

.search1 {
    display: none;
}

.search2 {
    display: none;
}


/* When the input field gets focus, change its width to 100% */

.search2:focus {
    width: 150px;
    transition: width 1s ease-in-out;
}

.search:hover .search2 {
    display: flex;
    float: left;
    position: inherit;
    width: 120px;
    transition: all 1s ease-in-out;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primaryColour);
    text-decoration: uppercase;
    overflow: hidden;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: var(--secondaryColour);
    color: var(--primaryColour);
}


/* Show the dropdown menu on hover */

.avatar:hover .dropdown-content {
    display: block;
}


/*---------Navigation Media-----------*/

@media only screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0rem;
        background-color: var(--white);
        z-index: 9990;
        height: 100%;
        transition: all .3s;
    }
    .nav_menu.open {
        left: 0;
        width: 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    }
    .nav_logo {
        width: 50%;
    }
    .nav_hamburger {
        display: inline-block;
    }
    .menu_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--blue2);
        padding: 1.8rem 1.8rem;
    }
    .menu_top svg {
        height: 2.3rem;
        width: 2.3rem;
        fill: var(--secondaryColour);
        transition: all .3s ease-in-out;
    }
    .nav_category {
        color: var(--white);
        font-size: 2.3rem;
        font: weight 700;
    }
    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.6rem 1rem;
    }
    .nav_item:not(:last-child) {
        margin-right: 0;
    }
    .nav_item {
        width: 100%;
    }
    .nav_list .nav_link:link,
    .nav_list .nav_link:visited {
        padding: 1.6rem 0;
        width: 100%;
        color: var(--black5)
    }
    .search1 {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        border: 1px solid #ccc;
    }
    body.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black) none no-repeat 0 0;
        opacity: .7;
        z-index: 999;
        transition: .8s;
    }
}

@media only screen and (max-width: 568px) {
    .nav_icons .icon_item svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .nav_icons .icon_item {
        padding: .5rem;
    }
    .search2 {
        display: none;
    }
}

.containerform {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
}

.btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #4d84e2;
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.containerform:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}


/* ANIMATION */

.containerform.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.containerform.sign-up-mode .left-panel .image,
.containerform.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.containerform.sign-up-mode .signin-signup {
    left: 25%;
}

.containerform.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.containerform.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.containerform.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.containerform.sign-up-mode .left-panel {
    pointer-events: none;
}

.containerform.sign-up-mode .right-panel {
    pointer-events: all;
}

@media (max-width: 870px) {
    .containerform {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .signin-signup,
    .containerform.sign-up-mode .signin-signup {
        left: 50%;
    }
    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }
    .right-panel {
        grid-row: 3 / 4;
    }
    .left-panel {
        grid-row: 1 / 2;
    }
    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }
    .panel h3 {
        font-size: 1.2rem;
    }
    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .containerform:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .containerform.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .containerform.sign-up-mode .left-panel .image,
    .containerform.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }
    .containerform.sign-up-mode .right-panel .image,
    .containerform.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }
    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }
    .containerform.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }
    .image {
        display: none;
    }
    .panel .content {
        padding: 0.5rem 1rem;
    }
    .containerform {
        padding: 1.5rem;
    }
    .containerform:before {
        bottom: 72%;
        left: 50%;
    }
    .containerform.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}


/*   Footer  */

.footer {
    background-color: var(--primaryColour);
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-top_box span svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--black);
}

.footer-top_box span {
    margin-right: 1rem;
}

.footer_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--black);
}

.footer-top_box a:link,
.footer-top_box a:visited {
    display: block;
    color: var(--black);
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-top_box a:hover {
    color: var(--blue);
}

.footer-top_box div {
    color: var(--grey);
    font-size: 1.4rem;
}

.footer-top_box h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    cursor: default;
}


/* Social media icons*/

.connect svg {
    height: 4rem;
    width: 4rem;
    border-radius: 3rem;
    cursor: pointer;
}

.connect svg:hover {
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.212);
    fill: none;
    background-color: transparent;
    border: 2px solid var(--secondaryColour);
    transform: rotateY(180deg);
}

.connect ul {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1rem;
}

.connect li {
    margin: .5rem;
}

@media only screen and (max-width: 998px) {
    .footer_top {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer_top {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}